<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Anime</title>
    <link rel="stylesheet" href="styles\style.css">
    <!-- <script src="../index.js"></script> -->
</head>
<body>
    <main>
        <header>
            <h1>Getting Bored🙃 How about reading a manga</h1>
        </header>
        <article class="mangaCover">
            <img src="https://uploads.mangadex.org/covers/<%= locals.mangaId %>/<%= locals.fileName %>" alt="Manga Cover">
        </article>
        <h2 class="mangaName"><%= key %></h2>
        <button id="refreshButton">Refresh</button>
        <button><a href="/chapters?mangaId=<%= locals.mangaId %>"></a>Chapters</button>
    </main>

    <script>
        document.getElementById('refreshButton').addEventListener('click', () => {
            location.reload();
        })
    </script>


</body>
</html>